@font-face {
    font-family: "museumClassic";
    font-weight: 300;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/museumClassic/museumClassic-Light.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/museumClassic/museumClassic-Light.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/museumClassic/museumClassic-Light.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/museumClassic/museumClassic-Light.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/museumClassic/museumClassic-Light.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "museumClassic";
    font-weight: 500;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/museumClassic/museumClassic-Medium.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/museumClassic/museumClassic-Medium.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/museumClassic/museumClassic-Medium.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/museumClassic/museumClassic-Medium.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/museumClassic/museumClassic-Medium.ttf") format("truetype");
    font-display: swap;
}
@font-face {
    font-family: "museumClassic";
    font-weight: 700;
    font-style: normal;
    src: url("https://cdn.jsdelivr.net/gh/websfont/museumClassic/museumClassic-Bold.eot");
    src: url("https://cdn.jsdelivr.net/gh/websfont/museumClassic/museumClassic-Bold.eot?#iefix") format("embedded-opentype"),
         url("https://cdn.jsdelivr.net/gh/websfont/museumClassic/museumClassic-Bold.woff2") format("woff2"),
         url("https://cdn.jsdelivr.net/gh/websfont/museumClassic/museumClassic-Bold.woff") format("woff"),
         url("https://cdn.jsdelivr.net/gh/websfont/museumClassic/museumClassic-Bold.ttf") format("truetype");
    font-display: swap;
}
.museumClassic {
    font-family: "museumClassic";
}
.museumClassic300 {
    font-family: "museumClassic";
    font-weight: 300;
}
.museumClassic500 {
    font-family: "museumClassic";
    font-weight: 500;
}
.museumClassic700 {
    font-family: "museumClassic";
    font-weight: 700;
}